body {
    display:block;
    justify-content: center;
    align-items: center;
    place-items: center;
    font-family: 'Poppins', sans-serif;
}

.faculties{
    display: grid;
    height: 40vh;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

section a{
    display: flex;
    border: 1px solid black;
    width: 190px;
    height: 250px;
    border-radius: 10px;
    
    
    

}

.eng, .fin, .heal, .sci{
    align-items: center;
    text-decoration: none;
    padding: 0.5rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: end;
}

.eng{
    background-image: url(./css/images/42534.jpg);
    background-size: cover;
    background-position: center;
}